
<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item white-text" href="#one!" style=" height: 100%;background-position:center;background-repeat:no-repeat;background-image:url('images/GDG-Lagos-EventBanner.jpg')">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item white-text" href="#two!" style="width: 100%; height: 450px;background-position:center;background-repeat:no-repeat;background-image:url('images/GDG_Lagos.jpg')">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!" style="width: 100%; height: 450px;background-position:center;background-repeat:no-repeat;background-image:url('images/AndelaALC-crowd-inside-.jpg')">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div>


<div class="row home-background">
    <div class="col s12" style="width: 100%; height: 700px;background-size:cover;background-position:center;background-repeat:no-repeat;background-image:url('images/GDG_Lagos.jpg')">
        <div>

        </div>
    </div>
</div>
<div>
    <p>This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>
</div>



<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="images/GDG-Lagos-EventBanner.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="images/GDG_Lagos.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="images/AndelaALC-crowd-inside-.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="images/Civic-Innovation-Hub.jpg"></a>
</div>


<div class="navbar-fixed">
</div>



<div id="blue" class="row block blue">
    <div class="container" style=" padding-top:10%;">
        <div class="col s6 home-bg-color" style="border-radius: 15px;">
            <h1 class="condensed light white-text" style="padding-left:15px;">DO YOU OWN AN EVENT CENTER?</h1><br />
            <h4 class="thin white-text" style="padding-left:15px;">You can register your center and all the available facilities with us.</h4>
            <br />
            <div style="padding-left:15px;">
                <a class="waves-effect waves-light btn-large center" style="border-radius: 15px;">Register here</a>
            </div>
            <br /><br /><br />
        </div>
    </div>
</div>

<div id="red" class="block red lighten-1">

</div>
<div id="green" class="block green lighten-1">

</div>
Link to bootcamp exercise(github): https://github.com/faksam/BootcampExercises
Link to medium post(day 1): https://medium.com/@faksam/my-experience-learning-to-use-mongodb-angular-f3c03114384d
Link to PT board: https://www.pivotaltracker.com/projects/2128731
Link to Bootcamp projectgithub); https://github.com/faksam/EventManager



<div class="col s6 offset-s6 home-bg-color" style="border-radius: 15px;">
    <h1 class="condensed light white-text" style="padding-left:15px;">ARE YOU PLANNING AN EVENT AND NEED AN EVENT CENTER?</h1><br />
    <h4 class="thin white-text" style="padding-left:15px;">You can book the perfect event center equipped with all the facilities at your desired location with us.</h4>
    <br />
    <div style="padding-left:15px;">
        <a class="waves-effect waves-light btn-large center" style="border-radius: 15px;">Book here</a>
    </div>
    <br /><br /><br />
</div>