
<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item white-text" href="#one!" style=" height: 100%;background-position:center;background-repeat:no-repeat;background-image:url('images/GDG-Lagos-EventBanner.jpg')">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item white-text" href="#two!" style="width: 100%; height: 450px;background-position:center;background-repeat:no-repeat;background-image:url('images/GDG_Lagos.jpg')">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!" style="width: 100%; height: 450px;background-position:center;background-repeat:no-repeat;background-image:url('images/AndelaALC-crowd-inside-.jpg')">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div>


<div class="row home-background">
    <div class="col s12" style="width: 100%; height: 700px;background-size:cover;background-position:center;background-repeat:no-repeat;background-image:url('images/GDG_Lagos.jpg')">
        <div>

        </div>
    </div>
</div>
<div>
    <p>This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>
</div>



<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="images/GDG-Lagos-EventBanner.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="images/GDG_Lagos.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="images/AndelaALC-crowd-inside-.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="images/Civic-Innovation-Hub.jpg"></a>
</div>


<div class="navbar-fixed">
</div>