<!DOCTYPE html>
<html>
<head>
    <title>Event Manager</title>
    <!--favicon -->
    <link rel="shortcut icon" href="public/images/favicon.ico" type="image/x-icon">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Import other css-->
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="navbar-fixed">
        <nav class="pushpin-demo-nav pinned" data-target="pink accent-4" style="top: 0px;">
            <div class="row">
                <div class="nav-wrapper col s11 offset-s1">
                    <a href="./index.html" class="brand-logo">Event Manager</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="./searchcenters.html">Centers</a></li>
                        
                        <li><a href="login.html">Log-in</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="./searchcenters.html">Centers</a></li>
                        
                        <li><a href="login.html">Log-in</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row block" style="background: linear-gradient(to right, #202a3c 50%, #fff 50%);">
        <div class="col s6">
            <img src="images/forloop-Abuja000.jpg" style="width: auto;height : auto;max-height: 100%;max-width: 100%;">
        </div>
        <div class="col s6" style="border-radius: 15px;">
            <div class="container">
                <div id="signUpDiv" class="row" style="display: block;">
                    <div class="form">
                        <h1>User Sign Up</h1>
                        <input type="text" required="" name="txtUsername_SU" id="txtUsername_SU" placeholder="Username" class="txtfield" tabindex="2">

                        <input type="text" required="" name="txtEmail_SU" id="txtEmail_SU" placeholder="Email" class="txtfield" tabindex="3">

                        <input type="password" required="" name="txtPassword_SU" id="txtPassword_SU" placeholder="Password" class="txtfield" tabindex="4">

                        <a href="./userdashboard.html" class="btn waves-effect waves-light blue" style="border-radius: 25px;">Sign Up<i class="material-icons right">send</i></a>&nbsp;&nbsp;&nbsp;
                        <a href="./index.html" class="btn waves-effect waves-light red">Cancel<i class="material-icons right">cancel</i></a>
                    </div>
                </div>
            </div>
            <br /><br /><br />
        </div>
    </div>
    <div class="page-footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">About Event Manager</h5>
                        <p class="grey-text text-lighten-4">
                            Here At Event Manager We've Got You Covered!!!
                        </p>
                        <p class="grey-text text-lighten-4">
                            Wherever you desire to organize an event, we would help you make the right choice. With us you can choose the perfect event center equipped with all the facilities at your desired location....<a href="./about.html">read more</a>
                        </p>


                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Services</h5>
                        <ul>
                            <li>
                                <a class="white-text" href="#!">Internet Service Provision</a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">E-Solutions</a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">Web Based Apps</a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">Others</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Company</h5>
                        <ul>
                            <li>
                                <a class="white-text" href="#!">About Us</a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">Careers</a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">IT Academy</a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">Gallary</a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">Blog</a>
                            </li>
                            <li>
                                <a class="white-text" href="#!">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Copyright Text
                    <a class="btn-floating social instagram orange accent-2 right">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn-floating social facebook blue darken-4 right">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn-floating social twitter blue right" style="padding-right:5px;">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/script.js"> </script>
</body>
</html>